.productMenPoster{
    background: url("../../Image/slide-03.jpg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.productWomenPoster{
    background: url("../../Image/slide-01.jpg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.productAccPoster{
    background: url("../../Image/watch.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.productJewPoster{
    background: url("../../Image/606b4f98b7ce239e935be095_RefractionCover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.posterHeight{
    height: 100vh;
}

.productPoster{
    position: relative;
}

.posterContent{
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
}

.posterJewContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.posterContent h5{
    font-size: 25px;
}

.posterContent h1{
    font-size: 50px;
    color: #0fb78d;
}

.timer{
    font-size: 20px;
    gap: 16px;
    font-family: 'Libre Baskerville', serif !important;
}


@media screen and (max-width:600px){
    .posterHeight{
        height: 80vh;
    }
    .posterJewContent h1{
        width: 100%!important;
        text-align: center;
    }
    .productAccPoster{
        background-position: top left;
    }
    .productWomenPoster{
        background-position: center!important;
    }

    .posterContent h1{
        font-size: 35px;
    }
    .posterContent h5{
        font-size: 20px;
    }

    .timer{
        font-size: 14px!important;
        gap: 8px;
    }
    .posterContent{
        left: 10%;
    }
}