@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Muli';
  src: url('./Font/Muli.ttf'); /* IE9 Compat Modes */
}
body{
  font-family: Muli!important;
}
h1,h2,h3,h4,h5 {
  font-family: 'Libre Baskerville', serif !important;
}
.btn{
  font-family: 'Libre Baskerville', serif !important;
}
li{
  list-style: none;
}

ul,p{
  margin-bottom: 0px!important;
  padding-left: 0px!important;
}

.navlink{
   text-decoration: none;
   color: #000000!important;
}

